@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');


:root{
    --primary-color: #155e75;
}

body{
    font-family: 'Antonio', sans-serif;
}

.contener{
    padding-left: 2rem;
    padding-right: 2rem;
}
.container-center{
    max-width: 600px;
    margin:auto;
}

.link{
    text-decoration: none;
    padding: 1rem 2rem;
    color: white;
}


.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondery-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border : 1px solid ;
 
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding: 0rem 0.5rem;
    color: white;
}



.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}
.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section{
    padding:1rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color:#67e8f9;
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.pad{
    padding-bottom: 1rem;
}